<%- include("header") %>
<style>
  body {
    background: #f1f3f8;
  }
  .blog-container{
    background:white;
    color:black;
    display:block;
    margin:150px auto;
    width:80%;
    padding-bottom:90px;
  }
  .blog-box{
    width:90%;
    display:block;
    margin:10px auto;
  }
  #headImg{
    width: 100%;
    display:block;
    margin: 0px auto 20px auto;
  }
  .top-section{
    padding:5px 40px;
  }
  #blog-heading{
    margin-top:70px;
    font-size:2.5rem;
    color:#7510f7;
    font-family: monospace;
  }
  /* AUTHOR SECTION */
  .mid-section{
    margin-top:0px;
    display:flex;
    align-items: center;
    padding:10px 40px;
  }
  .img-box{
    display:flex;
    align-items: center;
    justify-content: center;
    }
  #authorImg{
    width:40px;
    height:40px;
    margin-top:10px;
    border-radius:100%;
  }
  #authorName{
    text-transform: capitalize;
  }
  #blog-date{
    margin-left:30px;
  }
  /* blog Content */
  .bottom-section{
    margin-top:30px;
    padding:20px 40px;
    margin-bottom: 40px;
  }
  #contentImg{
    width: 100%;
    display:block;
    margin: 20px auto;
  }
  .social-section{
    display:block;
    padding:20px 40px;
  }
  .social-section i{
    font-size:2rem;
  }
 

  @media screen and (max-width:768px) {
    .blog-conatiner{
      width:100%;
    }
   
  }
</style>
<!--Blog-->
<div class="blog-container">
  <img id="headImg" src="<%= blogData.imageurl %>" alt="headImg">
  <div class="blog-box">
   <div class="top-section">
     <h2 style="text-align:left;" id="blog-heading"><%=blogData.title %> </h2>
   </div>
   <div class="mid-section">
      <div class="img-box" style="display:flex;">
        <img src="<%= blogData.authorImg%>" id="authorImg" alt="Contact Person">
        <h2 id="authorName"><%= blogData.authorName %></h2>
      </div>
      <h2 style="color:blue;" id="blog-date">29-12-2020</h2>
   </div>
   <!-- Bottom Section -->
   <div class="bottom-section">
    <p style="font-size: 1.5rem;" id="content">
      <%- blogData.blogcontent %>
    </p>
   </div>
   <!--End of Bottom Section -->

   <!-- Social Section -->
   <div class="social-section">
    <div class="ui mini right floated labeled button" tabindex="0">
      <div class="ui red button">
        <i class="heart icon"></i> Like
      </div>
      <a class="ui basic red left pointing label">
        1,048
      </a>
    </div>
   </div>
   
  </div> 

</div>
<!-- Footer -->
<%- include("footer") %>

 <!-- annotation -->
<script type="module">
  import { annotate } from 'https://unpkg.com/rough-notation?module';
      const e = document.querySelectorAll('.myAnnotation');
      for (let i = 0; i < e.length; i++) {
        const annotation = annotate(e[i], { type: 'underline', color: 'yellow' });
        annotation.show();
      }
</script> 
<script src="/blogs.js">
    console.log("Hello");
</script>
</body>

</html>