<%- include("header") %>

  <style>
    .card-wrapper {
      /* width: 400px; */
      /* height: 500px; */
      margin: 180px 0;
      position: relative;
    }

    .card {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 270px;
      /* height: 360px; */
      transform: translate(-50%, -50%);
      border-radius: 16px;
      overflow: hidden;
      box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
      cursor: pointer;
      transition: 0.5s;
    }

    .card .card-image {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 2;
      /* background-color: #000; */
      background-color: white;
      transition: 0.5s;
    }

    .card:hover .card-image {
      background-color: #000;
    }

    .card:hover img {
      opacity: 0.4;
      transition: 0.5s;
    }

    .card:hover .card-image {
      transform: translateY(-100px);
      transition: all 0.9s;
    }

    .card:hover .department-btn {
      display: none;
      transition: all 0.9s;
    }

    #profile-btn {
      display: none;
    }

    .card:hover #profile-btn {
      display: block;
      z-index: 3;
    }

    /**** Social Icons *****/
    .social-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      display: flex;
      padding: 0;
    }

    .social-icons li {
      list-style: none;
    }

    .social-icons li a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #fff;
      font-size: 23px;
      color: #333;
      font-weight: bold;
      margin: 0 6px;
      transition: 0.4s;
      transform: translateY(200px);
      opacity: 0;
    }

    .card:hover .social-icons li a {
      transform: translateY(0px);
      opacity: 1;
    }

    .social-icons li a:hover {
      background: #000;
      transition: 0.2s;
    }

    .social-icons li a:hover .fab {
      color: #fff;
    }

    .social-icons li a .fab {
      transition: 0.8s;
    }

    .social-icons li a .fab:hover {
      transform: rotateY(360deg);
      color: #fff;
    }

    .card:hover li:nth-child(1) a {
      transition-delay: 0.1s;
    }

    .card:hover li:nth-child(2) a {
      transition-delay: 0.2s;
    }

    .card:hover li:nth-child(3) a {
      transition-delay: 0.3s;
    }

    .card:hover li:nth-child(4) a {
      transition-delay: 0.4s;
    }

    /**** Personal Details ****/
    .details {
      position: absolute;
      bottom: 0;
      left: 0;
      background: #fff;
      width: 100%;
      height: 120px;
      z-index: 1;
      padding: 10px;
    }

    .details h2 {
      margin: 30px 0;
      padding: 0;
      text-align: center;
    }

    .details h2 .job-title {
      font-size: 1rem;
      line-height: 2.5rem;
      color: #333;
      font-weight: 300;
    }
  </style>
  <style>
    /* */
    body {
      font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 1.75;
    }

    #timeline {
      display: flex;
      background-color: #031625;
    }

    #timeline:hover .tl-item {
      width: 23.3333%;
    }

    .tl-item {
      transform: translate3d(0, 0, 0);
      position: relative;
      width: 25%;
      height: 110vh;
      min-height: 600px;
      color: #fff;
      overflow: hidden;
      transition: width 0.5s ease;
    }

    .tl-item:before,
    .tl-item:after {
      transform: translate3d(0, 0, 0);
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .tl-item:after {
      background: rgba(3, 22, 37, 0.85);
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    .tl-item:before {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
      z-index: 1;
      opacity: 0;
      transform: translate3d(0, 0, 0) translateY(50%);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .tl-item:hover {
      width: 30% !important;
    }

    .tl-item:hover:after {
      opacity: 0.6;
    }

    .tl-item:hover:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }

    .tl-item:hover .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
      top: 15%;
    }

    .tl-item:hover .tl-bg {
      filter: grayscale(0);
    }

    .tl-content {
      transform: translate3d(0, 0, 0) translateY(25px);
      position: relative;
      z-index: 1;
      text-align: center;
      margin: 0 1.618em;
      top: 55%;
      opacity: 0;
      height: 75%;
      overflow-y: auto;
    }

    .tl-content h1 {
      font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      color: #1779cf;
      font-size: 1.44rem;
      font-weight: normal;
    }

    .tl-year {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transition: all 0.75s ease 0.5s;
    }

    .tl-year p {
      font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 1.728rem;
    }

    .tl-item:hover .tl-year {

      top: 7%;
      left: 50%;
    }

    .tl-bg {
      transform: translate3d(0, 0, 0);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center center;
      transition: filter 0.5s ease;
      filter: grayscale(100%);
    }

    /* Media Query For Small Screens */
    @media screen and (max-width:768px) {
      #timeline {
        flex-direction: column;
      }

      #timeline:hover .tl-item {
        width: 100%;
      }

      .tl-item {
        transform: translate3d(0, 0, 0);
        position: relative;
        width: 100%;
        height: 100vh;
        min-height: 600px;
        color: #fff;
        overflow: hidden;
        transition: width 0.5s ease;
      }

      .tl-item:hover {
        width: 100% !important;
      }
    }
  </style>


  <% let myCommunity1="" ;
   let myCommunity2="" ,myCommunity3="" ,myCommunity4="" ,myImage="" ; 
    if (data!="" )
    { for (let i=0; i < data.length; i++){
    if(data[i].year=='1st year' )
    { myCommunity1 +=` 
    <div class="card-wrapper">
      <div class="card">
        <div class="card-image" style="position: relative;">
          <div class="ui black large label" style="background-color: white;color: black;">
            <i class="calendar check outline icon"></i>${data[i].department}
          </div>
          <div class="ui icon right pointing dropdown" id="profile-btn"
            style="position: absolute;top: 120px;right: 20px;">
            <i class="caret square down outline inverted big icon"></i>
            <div class="menu">
              <a class="item small" style="font-weight: bold;" href="/users/${data[i].email}">Visit Profile</a>
            </div>
          </div>
          <img src="${data[i].picture}" style="width: 100%;height: 100%;background-color: white;" alt="profile one">
        </div>
        <ul class="social-icons">
          <li>
            <a href="${data[i].lIn}" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="${data[i].gHub}" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
        <div class="details">
          <h2 style="color: black;">${data[i].name}
            <br>
            <span class="job-title">${data[i].about}</span>
          </h2>
        </div>
      </div>
    </div>

    `;
    }

    else if(data[i].year == '2nd year'){
    myCommunity2 += `
    <div class="card-wrapper">
      <div class="card">
        <div class="card-image" style="position: relative;">
          <div class="ui black large label" style="background-color: white;color: black;">
            <i class="calendar check outline icon"></i>${data[i].department}
          </div>
          <div class="ui icon right pointing dropdown" id="profile-btn"
            style="position: absolute;top: 120px;right: 20px;">
            <i class="caret square down outline inverted big icon"></i>
            <div class="menu">
              <a class="item small" style="font-weight: bold;" href="/users/${data[i].email}">Visit Profile</a>
            </div>
          </div>
          <img src="${data[i].picture}" style="width: 100%;height: 100%;background-color: white;" alt="profile one">
        </div>
        <ul class="social-icons">
          <li>
            <a href="${data[i].lIn}" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="${data[i].gHub}" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
        <div class="details">
          <h2 style="color: black;">${data[i].name}
            <br>
            <span class="job-title">${data[i].about}</span>
          </h2>
        </div>
      </div>
    </div>

    `;
    }
    else if(data[i].year == '3rd year'){
    myCommunity3 += `
    <div class="card-wrapper">
      <div class="card">
        <div class="card-image" style="position: relative;">
          <div class="ui black large label" style="background-color: white;color: black;">
            <i class="calendar check outline icon"></i>${data[i].department}
          </div>
          <div class="ui icon right pointing dropdown" id="profile-btn"
            style="position: absolute;top: 120px;right: 20px;">
            <i class="caret square down outline inverted big icon"></i>
            <div class="menu">
              <a class="item small" style="font-weight: bold;" href="/users/${data[i].email}">Visit Profile</a>
            </div>
          </div>
          <img src="${data[i].picture}" style="width: 100%;height: 100%;background-color: white;" alt="profile one">
        </div>
        <ul class="social-icons">
          <li>
            <a href="${data[i].lIn}" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="${data[i].gHub}" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
        <div class="details">
          <h2 style="color: black;">${data[i].name}
            <br>
            <span class="job-title">${data[i].about}</span>
          </h2>
        </div>
      </div>
    </div>

    `;
    }

    else if(data[i].year == '4th year'){
    myCommunity4 += `
    <div class="card-wrapper">
      <div class="card">
        <div class="card-image" style="position: relative;">
          <div class="ui black large label" style="background-color: white;color: black;">
            <i class="calendar check outline icon"></i>${data[i].department}
          </div>
          <div class="ui icon right pointing dropdown" id="profile-btn"
            style="position: absolute;top: 120px;right: 20px;">
            <i class="caret square down outline inverted big icon"></i>
            <div class="menu">
              <a class="item small" style="font-weight: bold;" href="/users/${data[i].email}">Visit Profile</a>
            </div>
          </div>
          <img src="${data[i].picture}" style="width: 100%;height: 100%;background-color: white;" alt="profile one">
        </div>
        <ul class="social-icons">
          <li>
            <a href="${data[i].lIn}" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="${data[i].gHub}" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
        <div class="details">
          <h2 style="color: black;">${data[i].name}
            <br>
            <span class="job-title">${data[i].about}</span>
          </h2>
        </div>
      </div>
    </div>

    `;
    }

    }
    } else {
    myCommunity1 = `<img class="logo" src="images/notFound.svg" id="notFound" alt="My_Logo">`;
    }

    %>


    <section id="timeline">

      <div class="tl-item">

        <div class="tl-bg" style="background-image: url(images/firstYear.jpg)"></div>

        <div class="tl-year">
          <p class="f2 heading--sanSerif">First Year</p>
        </div>

        <div class="tl-content" style="display: flex;flex-direction: column;">
          <h1
            style="width: fit-content;margin: 20px auto;margin-bottom: 40px;padding: 0 10px;color: gold;border-left: 2px solid white;border-right: 2px solid white;">
            Freshermen</h1>


          <%- myCommunity1
            || "<img src='images/notFound.png' style='margin: 15px auto;width: 45%' alt='notFound'> <p>No one here yet!</p>"
            %>


        </div>
      </div>

      <div class="tl-item">

        <div class="tl-bg" style="background-image: url(images/secondYear.jpg)"></div>

        <div class="tl-year">
          <p class="f2 heading--sanSerif">Second Year</p>
        </div>

        <div class="tl-content" style="display: flex;flex-direction: column;">
          <h1
            style="width: fit-content;margin: 20px auto;margin-bottom: 40px;padding: 0 10px;color: gold;border-left: 2px solid white;border-right: 2px solid white;">
            Sophomore</h1>

          <%- myCommunity2
            || "<img src='images/notFound.png' style='margin: 15px auto;width: 45%' alt='notFound'> <p>No one here yet!</p>"
            %>
        </div>

      </div>

      <div class="tl-item">

        <div class="tl-bg" style="background-image: url(images/thirdYear.jpg)"></div>

        <div class="tl-year">
          <p class="f2 heading--sanSerif">Third Year</p>
        </div>

        <div class="tl-content" style="display: flex;flex-direction: column;">
          <h1
            style="width: fit-content;margin: 20px auto;margin-bottom: 40px;padding: 0 10px;color: gold;border-left: 2px solid white;border-right: 2px solid white;">
            Pre-final Year</h1>

          <%- myCommunity3
            || "<img src='images/notFound.png' style='margin: 15px auto;width: 45%' alt='notFound'> <p>No one here yet!</p>"
            %>
        </div>

      </div>

      <div class="tl-item">

        <div class="tl-bg" style="background-image: url(images/finalYear.jpg)"></div>

        <div class="tl-year">
          <p class="f2 heading--sanSerif">Fourth Year</p>
        </div>

        <div class="tl-content" style="display: flex;flex-direction: column;">
          <h1
            style="width: fit-content;margin: 20px auto;margin-bottom: 40px;padding: 0 10px;color: gold;border-left: 2px solid white;border-right: 2px solid white;">
            Final Year</h1>

          <%- myCommunity4
            || "<img src='images/notFound.png' style='margin: 15px auto;width: 45%' alt='notFound'> <p>No one here yet!</p>"
            %>
        </div>

      </div>



    </section>
    <script>
      let showCards = document.querySelectorAll(".community-card");
      for (let index = 0; index < showCards.length; index++) {
        showCards[index].addEventListener("mouseover", () => {
          let frontCard = showCards[index].children[0];
          let backCard = showCards[index].children[1];

          frontCard.style.display = 'none';
          backCard.style.display = 'block';
        })

        showCards[index].addEventListener("mouseout", () => {
          let frontCard = showCards[index].children[0];
          let backCard = showCards[index].children[1];

          frontCard.style.display = 'block';
          backCard.style.display = 'none';

        })

      }
    </script>
    <script>
      $('.left.pointing.dropdown')
        .dropdown({
          direction: 'downward'
        })
        ;
    </script>

    <%- include("footer") %>