<%- include("header") %>
  <div class="container1">
    <div id="leftSection">
      <div class="container2" id="info-box">
        <div class="user-img">
          <img id="profile-img" src="<%= picture %>" alt="profile-img">
        </div>
        <div class="user-text">
          <div>
            <b class="text-muted">Name</b>
            <h2 id="profile-name">
              <%= username %>
            </h2>
          </div>
          <div>
            <b class="text-muted">Email</b>
            <h2 id="email-name" style="text-align: center;color:black;">
              <%= email %>
            </h2>
          </div>
        </div>
      </div>
      <!-- Posts Liked -->
      <div class="container3">
        <h5 id="liked-post-heading">Blogs You have <i style="color:red;" class="fa fa-heart-o" aria-hidden="true"></i>
        </h5>

        <!-- Blogs Liked -->
        <!-- <h3 id="blog-heading">BLOGS</h3> -->
        <% let one="" ; let myBoxes=``; <!-- First Blog -->
          if(firstBlog == 1){

          let length; if(data) { dataLength=data.length; }
          if(data[0].permission=="true" ) { myBoxes +=` <style>
            #myBlogBox${0}::before {
              background: url('${data[0].imageurl}') center center/cover;
            }
          </style>

          <div class="blogBox" id="myBlogBox0">
            <div class="one">
              <p>${data[0].date}</p>
              <h3 style="margin-top: 135px; font-size: 2.2rem">${data[0].title}</h3>
              <p style="position: absolute; bottom: 30px">${data[0].authorName}</p>
            </div>
            <div class="two">
              <p style="font-size: 1.1rem;width: 90%;position:absolute;top: 60px;left: 15px;">
                ${data[0].shortDescription}
              </p>
              <form action="/myblog" method="post">
                <input type="number" value="0" name="uniqueId" style="display: none" />
                <button read="5" class="ui inverted violet button btn readBtn"
                  style="position:absolute;bottom: 40px;left: 30px;" type="submit">
                  Read More
                </button>
              </form>
            </div>
          </div>

          `; } }


          <!--Second Blog -->
          if(secondBlog == 1){

          let length; if(data) { dataLength=data.length; }
          if(data[1].permission=="true" ) { myBoxes +=` <style>
            #myBlogBox${1}::before {
              background: url('${data[1].imageurl}') center center/cover;
            }
          </style>

          <div class="blogBox" id="myBlogBox1">
            <div class="one">
              <p>${data[1].date}</p>
              <h3 style="margin-top: 135px; font-size: 2.2rem">${data[1].title}</h3>
              <p style="position: absolute; bottom: 30px">${data[1].authorName}</p>
            </div>
            <div class="two">
              <p style="font-size: 1.1rem;width: 90%;position:absolute;top: 60px;left: 15px;">
                ${data[1].shortDescription}
              </p>
              <form action="/myblog" method="post">
                <input type="number" value="1" name="uniqueId" style="display: none" />
                <button read="5" class="ui inverted violet button btn readBtn"
                  style="position:absolute;bottom: 40px;left: 30px;" type="submit">
                  Read More
                </button>
              </form>
            </div>
          </div>

          `; } }
          <!-- Third Blog -->

          if(thirdBlog == 1){

          let length; if(data) { dataLength=data.length; }
          if(data[2].permission=="true" ) { myBoxes +=` <style>
            #myBlogBox${2}::before {
              background: url('${data[2].imageurl}') center center/cover;
            }
          </style>

          <div class="blogBox" id="myBlogBox2">
            <div class="one">
              <p>${data[2].date}</p>
              <h3 style="margin-top: 135px; font-size: 2.2rem">${data[2].title}</h3>
              <p style="position: absolute; bottom: 30px">${data[2].authorName}</p>
            </div>
            <div class="two">
              <p style="font-size: 1.1rem;width: 90%;position:absolute;top: 60px;left: 15px;">
                ${data[2].shortDescription}
              </p>
              <form action="/myblog" method="post">
                <input type="number" value="2" name="uniqueId" style="display: none" />
                <button read="5" class="ui inverted violet button btn readBtn"
                  style="position:absolute;bottom: 40px;left: 30px;" type="submit">
                  Read More
                </button>
              </form>
            </div>
          </div>

          `; } }

          <!-- Fourth Blog-->
          if(fourthBlog == 1){

          let length; if(data) { dataLength=data.length; }
          if(data[3].permission=="true" ) { myBoxes +=` <style>
            #myBlogBox${3}::before {
              background: url('${data[3].imageurl}') center center/cover;
            }
          </style>

          <div class="blogBox" id="myBlogBox3">
            <div class="one">
              <p>${data[3].date}</p>
              <h3 style="margin-top: 135px; font-size: 2.2rem">${data[3].title}</h3>
              <p style="position: absolute; bottom: 30px">${data[3].authorName}</p>
            </div>
            <div class="two">
              <p style="font-size: 1.1rem;width: 90%;position:absolute;top: 60px;left: 15px;">
                ${data[3].shortDescription}
              </p>
              <form action="/myblog" method="post">
                <input type="number" value="3" name="uniqueId" style="display: none" />
                <button read="5" class="ui inverted violet button btn readBtn"
                  style="position:absolute;bottom: 40px;left: 30px;" type="submit">
                  Read More
                </button>
              </form>
            </div>
          </div>

          `; } }
          <!--Fifth Blog -->
          if(fifthBlog == 1){

          let length; if(data) { dataLength=data.length; }
          if(data[4].permission=="true" ) { myBoxes +=` <style>
            #myBlogBox${4}::before {
              background: url('${data[4].imageurl}') center center/cover;
            }
          </style>

          <div class="blogBox" id="myBlogBox4">
            <div class="one">
              <p>${data[4].date}</p>
              <h3 style="margin-top: 135px; font-size: 2.2rem">${data[4].title}</h3>
              <p style="position: absolute; bottom: 30px">${data[4].authorName}</p>
            </div>
            <div class="two">
              <p style="font-size: 1.1rem;width: 90%;position:absolute;top: 60px;left: 15px;">
                ${data[4].shortDescription}
              </p>
              <form action="/myblog" method="post">
                <input type="number" value="4" name="uniqueId" style="display: none" />
                <button read="5" class="ui inverted violet button btn readBtn"
                  style="position:absolute;bottom: 40px;left: 30px;" type="submit">
                  Read More
                </button>
              </form>
            </div>
          </div>

          `; } }






          %>

          <div id="userBlogs">
            <%- myBoxes %>
          </div>

      </div>
    </div>
    <div id="rightSection">
      <% if(commData == []){ %>
      <div id="notCommUser">
        <img style="margin-top: 45px;" src="./images/chat.svg" alt="user">
        <div>
          <h5 style="margin-top: 20px;">Join our community and connect with peers.</h5>
          <a href="/" style="margin-top: 20px;" class="ui positive right labeled icon button">
            Yep, Let's Join
            <i class="checkmark icon"></i>
          </a>
        </div>
      </div>
      <% }
       else{ %>
        <div>
          <h4>Community Profile Details</h4>
          <form class="ui form" action="/update-community-details" method="POST" style="margin: 30px auto;">
            <div class="field">
              <label>Your Name</label>
              <input type="text" name="name" placeholder="Your name" value="<%= commData.name %>" readonly required>
            </div>
            <div class="field">
              <label>Your Email</label>
              <input type="email" name="email" placeholder="Your E-mail" value="<%= commData.email %>" readonly required>
            </div>
            <div class="field">
              <label style="display: inline;">Your Residence Type </label>
              <a class="ui inverted label" style="margin: 5px;"><%= commData.location %></a> 
              <select name="location" id="location" value="<%= commData.location %>" required>
                <option value="Day Scholar">Day Scholar</option>
                <option value="Hosteler">Hosteler</option>
              </select>
            </div>
            <div class="field">
              <label style="display: inline;">Current Year </label>
              <a class="ui inverted label" style="margin: 5px;"><%= commData.year %></a> 
              <select name="year" id="year" value="<%= commData.year %>" required>
                <option value="1st year">1st year</option>
                <option value="2nd year">2nd year</option>
                <option value="3rd year">3rd year</option>
                <option value="4th year">4th year</option>
              </select>
            </div>
            <div class="field">
              <label style="display: inline;">Your Department</label>
              <a class="ui inverted label" style="margin: 5px;"><%= commData.department %></a> 
              <select name="department" id="department" value="<%= commData.department %>" required>
                <option value="CS">CS</option>
                <option value="IT">IT</option>
                <option value="ECE">ECE</option>
                <option value="EE">EE</option>
                <option value="EEE">EEE</option>
                <option value="ME">ME</option>
                <option value="CE">CE</option>
              </select>
            </div>
            <div class="field">
              <label>Your Bio (nearly 70 characters)</label>
              <input type="text" name="about" placeholder="Enter a short intro" value="<%= commData.about %>" required maxlength="70">
            </div>
            <div class="field">
              <label>Github Handle</label>
              <input type="text" name="gHub" placeholder="Enter Github profile URL" value="<%= commData.gHub %>" required>
            </div>
            <div class="field">
              <label>LinkedIn Handle</label>
              <input type="text" name="lIn" placeholder="Enter Linked In profle URL" value="<%= commData.lIn %>" required>
            </div>
      
            <!-- hidden utility information -->
            <input type="text" name="picture" value="<%= commData.picture %>" hidden required>
            <!-- value of todaysDate is set using js -->
            <input type="text" name="todaysDate" id="todaysDate" value="" hidden required>
      
            <p style="margin-top: 30px;margin-bottom: 18px;color: #29a19c;font-size: 1.1rem;">
              NOTE: Please ensure to provide absolute links to your socials like `https://linkedin.com/in/username`.</p>
      
            <button style="margin-bottom: 20px;" type="submit" class="ui positive right labeled icon button">
              Update Details
              <i class="checkmark icon"></i>
            </button>
          </form>

        </div>
        <% } %>
    </div>
  </div>





  <%- include("footer") %>

    <script>
      
      let todaysDate = document.getElementById("todaysDate");
      var date = new Date().getDate();
      var month = new Date().getMonth() + 1;
      var year = new Date().getFullYear();
      todaysDate.setAttribute("value", date + "/" + month + "/" + year);
      
      let readBtn = document.querySelectorAll(".readBtn");

      for (let i = 0; i < readBtn.length; i++) {
        readBtn[i].addEventListener("click", () => {
          let readAtr = readBtn[i].getAttribute("read");
          localStorage.setItem("readAttribute", readAtr);
        });
      }
      readBtn;

      var one = document.querySelectorAll(".one");
      var two = document.querySelectorAll(".two");
      var blogBox = document.querySelectorAll(".blogBox");

      for (let i = 0; i < blogBox.length; i++) {
        blogBox[i].addEventListener("mouseover", function () {
          one[i].style.display = "none";
          two[i].style.display = "block";
        });
        blogBox[i].addEventListener("mouseout", function () {
          one[i].style.display = "block";
          two[i].style.display = "none";
        });
      }

    </script>